main {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 2101px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.title {
    position: absolute;
    top: 118px;
    left: 424px;
    width: 86px;
    height: 35px;
    text-align: left;
    font: normal normal bold 24px/35px Noto Sans KR;
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
}
.banner {
    position: absolute;
    top: 129px;
    left: 1275px;
    width: 49px;
    height: 24px;
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans KR;
    letter-spacing: 0px;
    color: #2B2B2B;
    opacity: 1;
}
.bar {
    position: absolute;
    top: 165px;
    left: 424px;
    width: 1072px;
    height: 0px;
    border: 2px solid #AEAEAE;
    opacity: 1;
}
.angle {
    position: absolute;
    top: 129px;
    left: 1322px;
    width: 12px;
    height: 6px;
    background: transparent url('img/그룹 1687.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.crossbar {
    position: absolute;
    top: 345px;
    left: 424px;
    width: 1072px;
    height: 0px;
    border: 2px solid var(--unnamed-color-ececec);
    border: 2px solid #ECECEC;
    opacity: 1;
}
.blank {
    position: absolute;
    top: 185px;
    left: 424px;
    width: 100px;
    height: 140px;
    background: #9C9C9C 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
}
.category {
    position: absolute;
    left: 544px;
    width: 129px;
    height: 20px;
    text-align: left;
    font: normal normal medium 14px/20px Noto Sans KR;
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
}
.content {
    position: absolute;
    left: 544px;
    width: 146px;
    height: 32px;
    text-align: left;
    font: normal normal bold 22px/32px Noto Sans KR;
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
}
.arthor {
    position: absolute;
    left: 544px;
    width: 59px;
    height: 20px;
    color: var(--unnamed-color-9a9a9a);
    text-align: left;
    font: normal normal normal 14px/20px Noto Sans KR;
    letter-spacing: 0px;
    color: #9A9A9A;
    opacity: 1;
}
.use {
    position: absolute;
    left: 544px;
    width: 64px;
    height: 24px;
    color: var(--unnamed-color-7b7b7b);
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans KR;
    letter-spacing: 0px;
    color: #7B7B7B;
    opacity: 1;
}
.use_num {
    position: absolute;
    left: 596px;
    width: 43px;
    height: 24px;
    text-align: left;
    font: normal normal medium 16px/24px Noto Sans KR;
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
}
.bin {
    position: absolute;
    top: 299px;
    left: 649px;
    width: 0px;
    height: 14px;
    border: 2px solid #ACACAC;
    opacity: 1;
}
.validity {
    position: absolute;
    left: 669px;
    width: 79px;
    height: 24px;
    color: var(--unnamed-color-7b7b7b);
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans KR;
    letter-spacing: 0px;
    color: #7B7B7B;
    opacity: 1;
}
.ymd {
    position: absolute;
    left: 756px;
    width: 114px;
    height: 24px;
    text-align: left;
    font: normal normal medium 16px/24px Noto Sans KR;
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
}
.dday {
    position: absolute;
    left: 878px;
    width: 76px;
    height: 24px;
    color: var(--시스템-빨강);
    text-align: left;
    font: normal normal medium 16px/24px Noto Sans KR;
    letter-spacing: 0px;
    color: #E60000;
    opacity: 1;
}
.but {
    top: 413px;
    left: 1357px;
    width: 139px;
    height: 44px;
    border: 2px solid var(--메인-컬러);
    border: 2px solid #7F17E6;
    border-radius: 22px;
    opacity: 1;
    position: absolute;
}
#but1 {
    border: 2px solid #B1b1b1;
}
.present {
    top: 242px;
    left: 1397px;
    width: 69px;
    height: 24px;
    color: var(--메인-컬러);
    text-align: left;
    font: normal normal bold 16px/24px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #7F17E6;
    opacity: 1;
    position: absolute;
}
.page {
    position: absolute;
    top: 1987px;
    left: 897px;
    width: 9px;
    height: 24px;
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #5A5A5A;
    opacity: 1;
}
#one {
    font: normal normal bold 16px/24px Noto Sans CJK KR;
}
.circle {
    position: absolute;
    top: 1985px;
    left: 805px;
    width: 30px;
    height: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    opacity: 1;
}
.arrow {
    position: absolute;
    display: inline-block;
    position: absolute;
    width: 9px;
    height: 9px;
    background: transparent;
    text-indent: -9999px;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    text-decoration: none;
    color: transparent;
    top: 1995px;
}
.arrow.next1 {
    transform: rotate(-45deg);
}
.arrow.next2 {
    transform: rotate(-45deg);
}
.arrow.next3 {
    transform: rotate(-45deg);
}
.arrow.next4 {
    transform: rotate(135deg);
}
.arrow.next5 {
    transform: rotate(135deg);
}
.arrow.next6 {
    transform: rotate(135deg);
}