@charset "UTF-8";

@font-face {
		font-family:"Noto-Sans-KR";
		src:url("/font/NotoSansKR-Regular.otf") format("opentype");
	}

footer {
 	margin: 0 auto;
 	width: 100%;
    height: 280px;        
    background: #ECECEC 0% 0% no-repeat padding-box;
    margin: auto;
    margin-top: 30px;
	border-top: 1px solid #ebebeb;
	position: relative;
}
#footer_logo{
	left: 424px; 
	top: 40px;
	position: absolute;
}
