<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Storymong Main</title>
    
	<link rel="stylesheet" type="text/css" href="./css/layout.css">
	<link rel="stylesheet" type="text/css" href="./css/header.css">
	<link rel="stylesheet" type="text/css" href="./css/main.css">
	<link rel="stylesheet" type="text/css" href="./css/footer.css">
	<link rel="stylesheet" type="text/css" href="./css/cs_faq.css">
  	
  </head>
  <body>
	<!-- Navbar -->
	<header>
    	<div class="header_container">
    		<div class="img_logo"><a href="/"><img src="./img/main_logo.png" /></a></div>    	
		    <nav class="nav_container">
		      <div class="nav_items">
		        <ul>
		      	  <li><a href="./web/sub">영화 시나리오</a></li>
		          <li><a href="./web/sub">드라마 대본</a></li>
		          <li><a href="./web/sub">웹소설</a></li>
		          <li><a href="./web/sub">웹툰</a></li>
		          <li><a href="/">스토리허브</a></li>
		        </ul>	        
		      </div>
		    </nav>
		    <div class="search_img"><a href="/"><img src="./img/search_icon.png" /></a></div>
		    
		    <button type="button" id="btn-join" data-toggle="modal" data-target="#joinModal">회원가입</button>
		    <button type="button" id="btn-login" data-toggle="modal" data-target="#loginModal">로그인</button>
		     
	    </div>
    </header>
	<!-- /.navbar -->
	<!-- Content -->
	<main>
		<p id="main_cs">고객센터</p>
		<div id="search"></div>
		<p id="search_text">검색</p>
		<div id="grey"><img src="./img/search_grey.svg"></div>
		<div class="bar" id="upbar"></div>
		<div id="dot"></div>
		<table style="left: 442px;">
			<tr>
				<td><div id="cs"><a href="cs_notice.html">공지사항</a></div></td>
			</tr>
			<tr>
				<td><div id="faq"><a href="cs_faq.html" style="color: black;">FAQ</a></div></td>
			</tr>
			<tr>
				<td><div id="req"><a href="cs_inbound.html">1:1문의</a></div></td>
			</tr>
		</table>

		<div id="g_blank"></div>
		<div id="symbol"><img src="./img/스토리몽_심볼.png"></div>
		<div class="answer">질문에 대한 답변 내용이 들어갑니다. 질문에 대한 답변 내용이 들어갑니다. 질문에 대한 답변 내용이 들어갑니 다. 질문에 대한 답변 내용이 들어갑니다. 질문에 대한 답변 내용이 들어갑니다.</div>

		<a class="angle next1" style="top: 251px;;"></a>
		<a class="angle next2" style="top: 436px;;"></a>
		<a class="angle next3" style="top: 528px;;"></a>
		<a class="angle next4" style="top: 620px;"></a>
		<a class="angle next5" style="top: 712px;"></a>
		<a class="angle next6" style="top: 804px;"></a>
		<a class="angle next7" style="top: 896px;"></a>
		<a class="angle next8" style="top: 988px;"></a>
		<a class="angle next9" style="top: 1080px;"></a>
		<a class="angle next10" style="top: 1172px;"></a>

		<div class="g_circle" id="gc1"></div>
		<div class="g_circle" id="gc2" style="top: 421px;"></div>
		<div class="g_circle" id="gc3" style="top: 513px;"></div>
		<div class="g_circle" id="gc4" style="top: 605px;"></div>
		<div class="g_circle" id="gc5" style="top: 697px;"></div>
		<div class="g_circle" id="gc6" style="top: 789px;"></div>
		<div class="g_circle" id="gc7" style="top: 881px;"></div>
		<div class="g_circle" id="gc8" style="top: 973px;"></div>
		<div class="g_circle" id="gc9" style="top: 1065px;"></div>
		<div class="g_circle" id="gc10" style="top: 1157px;"></div>
		<div class="g_img" id="gi1"><img src="./img/cs_group.svg"></div>
		<div class="g_img" id="gi2" style="top: 431px;"><img src="./img/cs_group.svg"></div>
		<div class="g_img" id="gi3" style="top: 523px;"><img src="./img/cs_group.svg"></div>
		<div class="g_img" id="gi4" style="top: 615px;"><img src="./img/cs_group.svg"></div>
		<div class="g_img" id="gi5" style="top: 707px;"><img src="./img/cs_group.svg"></div>
		<div class="g_img" id="gi6" style="top: 799px;"><img src="./img/cs_group.svg"></div>
		<div class="g_img" id="gi7" style="top: 891px;"><img src="./img/cs_group.svg"></div>
		<div class="g_img" id="gi8" style="top: 983px;"><img src="./img/cs_group.svg"></div>
		<div class="g_img" id="gi9" style="top: 1075px;"><img src="./img/cs_group.svg"></div>
		<div class="g_img" id="gi10" style="top: 1167px;"><img src="./img/cs_group.svg"></div>
		<table>
			<tr>
				<td><div class="cs_title" id="ti1">FAQ 카테고리</div></td>
			</tr>
			<tr>
				<td><div class="cs_text" id="te1">질문 텍스트가 들어갑니다.</div></td>
			</tr>
			<tr>
				<td><div class="cs_title" id="ti2" style="top: 415px;">FAQ 카테고리</div></td>
			</tr>
			<tr>
				<td><div class="cs_text" id="te2" style="top: 443px;">질문 텍스트가 들어갑니다.</div></td>
			</tr>
			<tr>
				<td><div class="cs_title" id="ti3" style="top: 507px;">FAQ 카테고리</div></td>
			</tr>
			<tr>
				<td><div class="cs_text" id="te3" style="top: 535px;">질문 텍스트가 들어갑니다.</div></td>
			</tr>
			<tr>
				<td><div class="cs_title" id="ti4" style="top: 599px;">FAQ 카테고리</div></td>
			</tr>
			<tr>
				<td><div class="cs_text" id="te4" style="top: 627px;">질문 텍스트가 들어갑니다.</div></td>
			</tr>
			<tr>
				<td><div class="cs_title" id="ti5" style="top: 691px;">FAQ 카테고리</div></td>
			</tr>
			<tr>
				<td><div class="cs_text" id="te5" style="top: 719px;">질문 텍스트가 들어갑니다.</div></td>
			</tr>
			<tr>
				<td><div class="cs_title" id="ti6" style="top: 783px;">FAQ 카테고리</div></td>
			</tr>
			<tr>
				<td><div class="cs_text" id="te6" style="top: 811px;">질문 텍스트가 들어갑니다.</div></td>
			</tr>
			<tr>
				<td><div class="cs_title" id="ti7" style="top: 875px;">FAQ 카테고리</div></td>
			</tr>
			<tr>
				<td><div class="cs_text" id="te7" style="top: 903px;">질문 텍스트가 들어갑니다.</div></td>
			</tr>
			<tr>
				<td><div class="cs_title" id="ti8" style="top: 967px;">FAQ 카테고리</div></td>
			</tr>
			<tr>
				<td><div class="cs_text" id="te8" style="top: 995px;">질문 텍스트가 들어갑니다.</div></td>
			</tr>
			<tr>
				<td><div class="cs_title" id="ti9" style="top: 1059px;">FAQ 카테고리</div></td>
			</tr>
			<tr>
				<td><div class="cs_text" id="te9" style="top: 1087px;">질문 텍스트가 들어갑니다.</div></td>
			</tr>
			<tr>
				<td><div class="cs_title" id="ti10" style="top: 1151px;">FAQ 카테고리</div></td>
			</tr>
			<tr>
				<td><div class="cs_text" id="te10" style="top: 1179px;">질문 텍스트가 들어갑니다.</div></td>
			</tr>
		</table>
		<div class="crossbar" id="centerbar1" ></div>
		<div class="crossbar" id="centerbar2" style="top: 395px;"></div>
		<div class="crossbar" id="centerbar3" style="top: 487px;"></div>
		<div class="crossbar" id="centerbar4" style="top: 579px;"></div>
		<div class="crossbar" id="centerbar5" style="top: 671px;"></div>
		<div class="crossbar" id="centerbar6" style="top: 763px;"></div>
		<div class="crossbar" id="centerbar7" style="top: 855px;"></div>
		<div class="crossbar" id="centerbar8" style="top: 947px;"></div>
		<div class="crossbar" id="centerbar9" style="top: 1039px;"></div>
		<div class="crossbar" id="centerbar10" style="top: 1131px;"></div>
		
		<div class="bar" id="underbar" style="top: 1223px;"></div>

		<div class="page" id="one" style="left: 897px;">1</div>
		<div class="page" id="two" style="left: 928px;">2</div>
		<div class="page" id="three" style="left: 957px;">3</div>
		<div class="page" id="four" style="left: 986px;">4</div>
		<div class="page" id="five" style="left: 1015px;">5</div>

		<div class="circle" id="lleft"></div>
		<div class="circle" id="left" style="left: 847px;"></div>
		<div class="circle" id="right" style="left: 1044px;"></div>
		<div class="circle" id="rright" style="left: 1086px;"></div>

		<a class="arrow next1" style="left: 814px;"></a>
		<a class="arrow next2" style="left: 821px;"></a>
		<a class="arrow next3" style="left: 858px;"></a>
		<a class="arrow next4" style="left: 1052px;"></a>
		<a class="arrow next5" style="left: 1091px;"></a>
		<a class="arrow next6" style="left: 1098px;"></a>

    </main>
	<!-- Footer -->  
	<footer>	
		<div id="footer_logo">
			<img src="./img/footer_logo.png" />
		</div>	
	</footer>
  </body>
</html>