<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Storymong Main</title>
    
	<link rel="stylesheet" type="text/css" href="./css/layout.css">
	<link rel="stylesheet" type="text/css" href="./css/header.css">
	<link rel="stylesheet" type="text/css" href="./css/main.css">
	<link rel="stylesheet" type="text/css" href="./css/footer.css">
  	
  </head>
  <body>
	<!-- Navbar -->
	<header>
    	<div class="header_container">
    		<div class="img_logo"><a href="/"><img src="./img/main_logo.png" /></a></div>    	
		    <nav class="nav_container">
		      <div class="nav_items">
		        <ul>
		      	  <li><a href="./web/sub">영화 시나리오</a></li>
		          <li><a href="./web/sub">드라마 대본</a></li>
		          <li><a href="./web/sub">웹소설</a></li>
		          <li><a href="./web/sub">웹툰</a></li>
		          <li><a href="/">스토리허브</a></li>
		        </ul>	        
		      </div>
		    </nav>
		    <div class="search_img"><a href="/"><img src="./img/search_icon.png" /></a></div>
		    
		    <button type="button" id="btn-join" data-toggle="modal" data-target="#joinModal">회원가입</button>
		    <button type="button" id="btn-login" data-toggle="modal" data-target="#loginModal">로그인</button>
		     
	    </div>
    </header>
	<!-- /.navbar -->
	<!-- Content -->
	<main>
		<div class="top_container">
    		<div id="top_banner" style="background: #C4C4C4 0% 0% no-repeat padding-box; left: -124px;"></div>
    		<div id="top_banner" style="background: #444444; left: 606px;"></div>
    		<div id="top_banner" style="background: #7E7E7E; left: 1334px;"></div>
    	</div>
    	<div class="main_container" > 
    		<div id="feed_top">
    			<div id="feed_circle"></div>
    			<div id="feed_title">피드타이틀공간입니다</div>
    			<div id="feed_more"><a href="">더보기</a></div>
    		</div>
    		<div id="feed_body">
    			<div id="feed_content">
    				<img id="book_cover" src="./img/template/bookcover/love_01.png" />
    				<div class="content_gradation"></div>
    				<img id="like_circle" src="./img/like_circle.svg" />
    				<img id="like_none" src="./img/like_none.svg" />
    				<div id="star_rate"></div>
    				<div class="content_title">콘텐츠제목</div>
    			</div>
    			<div id="feed_content" style="left:273px;">
    				<img id="book_cover" src="./img/template/bookcover/love_02.png" />
    				<div class="content_gradation"></div>
    				<img id="like_circle" src="./img/like_circle.svg" />
    				<img id="like_none" src="./img/like_active.svg" />
    				<div id="star_rate"></div>
    				<div class="content_title">콘텐츠제목</div>
    			</div>
    			<div id="feed_content" style="left:546px;">
    				<img id="book_cover" src="./img/template/bookcover/love_07.png" />
    				<div class="content_gradation"></div>
    				<img id="like_circle" src="./img/like_circle.svg" />
    				<img id="like_none" src="./img/like_none.svg" />
    				<div id="star_rate"></div>
    				<div class="content_title">콘텐츠제목</div>
    			</div>
    			<div id="feed_content" style="left:819px;">
    				<img id="like_circle" src="./img/like_circle.svg" />
    				<div class="content_gradation"></div>
    				<img id="like_none" src="./img/like_none.svg" />
    				<div id="star_rate"></div>
    				<div class="content_title">콘텐츠제목</div>
    			</div>
    		</div>
    		<div id="feed_bottom">
    			<div id="roll_selected"></div>
    			<div id="roll_unselected" style="left: 510px;"></div>
    			<div id="roll_unselected" style="left: 528px;"></div>
    			<div id="roll_unselected" style="left: 546px;"></div>
    		</div>    		
    	</div>
    	<div class="main_container">
    		<div id="feed_top">
    			<div id="feed_circle"></div>
    			<div id="feed_title">피드타이틀공간입니다</div>
    			<div id="feed_more"><a href="">더보기</a></div>
    		</div>
    		<div id="feed_body">
    			<div id="feed_content"></div>
    			<div id="feed_content" style="left:273px;"></div>
    			<div id="feed_content" style="left:546px;"></div>
    			<div id="feed_content" style="left:819px;"></div>
    		</div>
    		<div id="feed_bottom">
    			<div id="roll_selected"></div>
    			<div id="roll_unselected" style="left: 510px;"></div>
    			<div id="roll_unselected" style="left: 528px;"></div>
    			<div id="roll_unselected" style="left: 546px;"></div>
    		</div>
    	</div>
    	<div class="main_container">
    		<div id="feed_top">
    			<div id="feed_circle"></div>
    			<div id="feed_title">피드타이틀공간입니다</div>
    			<div id="feed_more"><a href="">더보기</a></div>
    		</div>
    		<div id="turn_unselected3"><h5 style="color: white; margin: 10px 10px;">#헤쉬태그#테마</h5></div>
    		<div id="turn_unselected3" style="left: 866px;"><h5 style="color: white; margin: 10px 10px;">#헤쉬태그#테마</h5></div>
    		<div id="turn_unselected2" style="left: 71px;"><h4 style="color: white; margin: 10px 10px;">#헤쉬태그#테마</h4></div>
    		<div id="turn_unselected2" style="left: 750px;"><h4 style="color: white; margin: 10px 10px;">#헤쉬태그#테마</h4></div>
    		<div id="turn_unselected1" style="left: 182px;"><h3 style="color: white; margin: 10px 10px;">#헤쉬태그#테마</h3></div>
    		<div id="turn_unselected1" style="left: 586px;"><h3 style="color: white; margin: 10px 10px;">#헤쉬태그#테마</h3></div>
    		<div class="turn_selected"><h2 style="color: white; text-align: center; margin: 20px 0px;">#헤쉬태그#테마</h2></div>
    		
    	</div>
    	<div class="event_container">
    		<h1 style="color: white; text-align: center; margin: 20px 0px;">이벤트배너공간</h1>
    	</div>
    	<div class="main_container">
    		<div id="feed_top">
    			<div id="feed_circle"></div>
    			<div id="feed_title">피드타이틀공간입니다</div>
    			<div id="feed_more"><a href="">더보기</a></div>
    		</div>
    		<div id="feed_body">
    			<div id="feed_content"></div>
    			<div id="feed_content" style="left:273px;"></div>
    			<div id="feed_content" style="left:546px;"></div>
    			<div id="feed_content" style="left:819px;"></div>
    		</div>
    		<div id="feed_bottom">
    			<div id="roll_selected"></div>
    			<div id="roll_unselected" style="left: 510px;"></div>
    			<div id="roll_unselected" style="left: 528px;"></div>
    			<div id="roll_unselected" style="left: 546px;"></div>
    		</div>
    	</div>
    	<div class="turn_feed">
    		<div id="feed_top">
    			<div id="feed_circle"></div>
    			<div id="feed_title">피드타이틀공간입니다</div>
    			<div id="feed_more"><a href="">더보기</a></div>
    		</div>
    		<div id="feed_body">
    			<div id="feed_content"></div>
    			<div id="feed_content" style="left:273px;"></div>
    			<div id="feed_content" style="left:546px;"></div>
    			<div id="feed_content" style="left:819px;"></div>
    		</div>
    		<div id="feed_bottom">
    			<div id="roll_selected"></div>
    			<div id="roll_unselected" style="left: 510px;"></div>
    			<div id="roll_unselected" style="left: 528px;"></div>
    			<div id="roll_unselected" style="left: 546px;"></div>
    		</div>
    	</div>
    	<div class="event_bottom">
    		<div class="event_banner"><h1 style="color: white; text-align: center; margin: 20px 0px;">이벤트프로모션 이벤트</h1></div>
    	</div>    
    </main>
	<!-- Footer -->  
	<footer>	
		<div id="footer_logo">
			<img src="./img/footer_logo.png" />
		</div>	
	</footer>
  </body>
</html>